{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5" style="color: white"><br>
        <div class="row">
            <div class="col-md-6">
                <h2>{{ chapter.getName() }}</h2>
            </div>
            <div class="col-md-6">
                <p class="text-right">View Count: {{ chapter.getViewCount() }}</p>
            </div>
        </div>

        {% for chapterImage in chapter.getChapterImages() %}
            <img src="{{ asset('uploads/chapter/' ~ chapterImage.getImagePath()) }}" style="width: 100%">
        {% endfor %}
    </div>
{% endblock %}
